<launch>
  <include file="$(find ridgeback_movement)/launch/vrpn-lab_south.launch" />
  <node pkg="ridgeback_movement" type="transform_publisher.py" name="transform_publisher" ns="obstacle_avoidance_optitrack"/>

  <!-- Wait until all trafos are up -->

  <!-- <node pkg="rviz" type="rviz" name="rviz" ns="obstacle_avoidance_optitrack"/> -->
  
  <!-- <\node> -->
  <!-- <groupe name="avoidance"> -->
  <!-- <\groupe> -->
</launch>
